$white:#fff;
$light: #EAF1FC;
$light-hover: #E0EAFB;
$light-active: #BFD4F6;
$normal: #2F74E3;
$normal-hover: #2A68CC;
$normal-active: #265DB6;
$dark: #2357AA;
$dark-hover: #1C4688;
$dark-active: #153466;
$darker: #10294F;